  * {
     margin:0;
     padding:0; 
     box-sizing:border-box; 
    }

  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: Arial, sans-serif;
    perspective: 1200px;
    pointer-events: none;           /*  for use with phones --disable clicks outside */
  }

  article.flip-card {
    width: 90vw;
    max-width: 800px;
    aspect-ratio: 2 / 1;  /* for use with phones-- to get lanscape and portrait */
    border-radius: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s ease-in-out;
    pointer-events: auto;
    cursor: pointer;
   -webkit-tap-highlight-color: transparent; /* use with iOS phones to hide border on tapping the phone */
  }

  article.flip-card:hover {
		transform: rotateY(180deg);
	}

   .card-side {
    position: absolute;
    inset: 0; /* This makes sure both sides of the card overlap. It says "stick the all the edges and fill the box */
    padding: 40px 50px;
    color: #fff;
    border-radius: 20px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .front{
    background-image: url(frontpicture.jpg);
    background-position: center;
    background-size: cover;
  }

  .back {
    background-image: url(backpicture.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
  }

  .content {
    /*translateZ(70px) pulls .content closer to you, so it looks like it’s floating above the card. Works with the perspective above*/
    transform: translateZ(70px) scale(0.85); /*This prevents it from looking too big when it comes forward, making the effect feel more natural.*/
    text-align: center;
    line-height: 1.3;
  }

  .content h2 {
    margin-bottom: 20px;
    border-bottom: 4px solid #47b7c8;
    padding-bottom: 10px;
    display: inline-block;
  }

  /* For phone cards -- need this information since phones work differently than desktops */
  /* Click/tap state – this one wins over hover on a phone. Otherwise phone won't flip */
  article.flip-card.flipped {
    transform: rotateY(180deg) !important;   
  }
    /*hover: hover → “this device can actually hover”
    pointer: fine → “this device uses a mouse, not a finger”
    Together = desktop-only behavior */

  @media (hover: hover) and (pointer: fine) {
    article.flip-card:hover:not(.flipped) {
      transform: rotateY(180deg);
    }
  }
 